.invalid-input {
  color: red;
}
.register-card{
  text-align: center;
}
.row{
  margin-top: 15px;
}
.icon {
  float: right;
  left: -15px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
